 /* Importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Tailwind v4 base */
@import "tailwindcss";

/* Appliquer la police globalement */
html, body {
  font-family: "Poppins", sans-serif;
}

/* Couleurs personnalisées */
.text-primary {
  color: #42BABA;
}

.bg-primary {
  background-color: #42BABA;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}