 /* Importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Tailwind v4 base */
@import "tailwindcss";

/* Appliquer la police globalement */
html, body {
  font-family: "Poppins", sans-serif;
}

/* Couleurs personnalisées */
.text-primary {
  color: #42BABA;
}

.bg-primary {
  background-color: #42BABA;
}
